{% extends 'ensayos/nuevosEnsayos/layoutEnsayos.html'%}
{%load static%}

{%block tituloEnsayo%} EMI ({{ensayo.normativa}})  {%endblock%}



{%block condiciones%} 

  <div class= "row mt-3 mb-3">
      <div class= "col d-flex flex-column align-items-start">
          {{formEmi.muestra.label}}
          {{formEmi.muestra}}
      </div>

      <div class= "col-3 d-flex flex-column align-items-start">
		{{formEmi.fechaInicio.label}}
		{{formEmi.fechaInicio}}
	  </div>
  
	  <div class= "col-3 d-flex flex-column align-items-start">
		  {{formEmi.fechaFin.label}}
		  {{formEmi.fechaFin}}
	  </div>
  </div>

  <div class= "row mt-3 mb-3">
      <div class= "col text-nowrap">
        {{formEmi.temperaturaAmbiente.label}}
        {{formEmi.temperaturaAmbiente}}

      </div>
      
      <div class= "col text-nowrap">
        {{formEmi.humedad.label}}
        {{formEmi.humedad}}
      </div>

      <div class= "col text-nowrap">
        {{formEmi.inductancia.label}}
        {{formEmi.inductancia}}
      </div>

      <div class= "col text-nowrap">
        {{formEmi.presion.label}}
        {{formEmi.presion}}
      </div>
  	</div>

	<div class= "row mt-4 d-flex justify-content-center">
		<div class= "col-8 text-nowrap">
			{{equiposEnsayo}}
		</div>
	</div>


{%endblock%}

   

{%block resultados%} 
<div class= "row mt-3 mb-3 col m-auto">
    
    {% if formEmi.non_field_errors %}
            <div>
                {% for error in formEmi.non_field_errors %}
                    <p class= "text-danger">{{ error }}</p>
                {% endfor %}
            </div>
    {% endif %}

      
    <table id= "tabla" class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                {%for form in formEmiResultados.forms.0%}
                    <th class="align-middle">{{form.label}}</th>
                {%endfor%}

            </tr>
        </thead>
        <tbody id="tbody">
            {{ formEmiResultados.management_form }}
            {%for form in formEmiResultados%}
                <tr class="templateRow">
                    <td class="concentracion">{{form.concentracion}}</td>
                    <td>{{form.energia}}</td>
                    <td>{{form.retardo}}</td>
                    <td>{{form.resultadoPrueba}}</td>
                    <td>{{form.numeroEnsayo}}</td>
                </tr>
            {%endfor%}
        </tbody>
    </table>
    <div class= " col-12 d-flex justify-content-between">
		<div class= "col-2 d-flex justify-content-between">
			<button type= "button" id= "añadir-fila" class= "btn btn-info"><p class= "h4 m-0"> + </p></button>
			<button type= "button" id= "borrar-fila" class= "border-0 btn btn-danger"> <p class= "h4 m-0"> - </p></button>
		</div>

		<div>
			<button type="button" class="btn btn-primary" id="abrirModal" data-toggle="modal" data-target="#ensayosModal">
				Datos desde archivo
			</button>
		</div>
	</div>

	<!--Modal-->
	<div class="modal fade" id="ensayosModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content ">
				<div class="modal-header">
				  <h5 class="modal-title" id="exampleModalLabel">Selecciona el archivo .txt</h5>
				  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				  </button>
				</div>

				<div class="modal-body">
					<input class="form-control" type="file" id="fileInput" accept=".txt">
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
					<button type="button" class="btn btn-primary" id= "saveChangesBtn" >Procesar</button>
				</div>
			</div>
		</div>
	</div>

    <div class= "col-12 mt-3 mb-3 d-flex align-items-center justify-content-center">
        <div class= "col-4 mt-3 mb-3">
            {{formEmi.resultado.label}}
            {{formEmi.resultado}}
        </div>
      </div>

    <div class= "col-12 mt-3 mb-3">
        {{formEmi.observacion.label}}
        {{formEmi.observacion}}
    </div>
    
</div>

{%endblock%}



{%block script%}  
    <script> ensayo= "emi" </script>
    <script src="{%static 'js/ensayos/general.js'%}"></script> 
    <script src="{%static 'js/ensayos/emi.js'%}"></script> 
{%endblock%}