{% extends 'ensayos/nuevosEnsayos/layoutEnsayos.html'%}
{%load static%}

{%block tituloEnsayo%} Humedad {%endblock%}

{%block condiciones%} 
    {{mensaje_error}}

  <div class= "row mt-4 mb-4">
    <div class= "col d-flex flex-column align-items-start">
        {{form.muestra.label}}
        {{form.muestra}}
    </div>

    <div class= "col d-flex flex-column align-items-start">
      {{form.fecha.label}}
      {{form.fecha}}
    </div>

  </div>
  <div class= "row mt-4 mb-4 d-flex justify-content-center">
    <div class="col-4 m-auto">
        {{form.temperaturaAmbiente.label}}
        {{form.temperaturaAmbiente}}
    </div>
    <div class="col-4 m-auto">
        {{form.humedad.label}}
        {{form.humedad}}
    </div>
  </div>

  <div class="row mt-4 mb-4 d-flex justify-content-center">
        <div class= "col m-auto">
            {{form.criterio.label}}
            {{form.criterio}}
        </div>

        <div class= "col m-auto" id= "tiempoEnsayo">
            {{form.tiempoEnsayo.label}}
            {{form.tiempoEnsayo}}
        </div>

        <div class= "col m-auto">
          {{form.tDesecacion.label}}
          {{form.tDesecacion}}
        </div>
  </div>

{%endblock%}

{%block resultados%} 
  <div class= "col-3 m-auto">
    {{form.desviacion.label}}
    {{form.desviacion}}
  </div>

  <!--Resultados 1 al 5-->
  <div class="row mt-4 mb-4">
    <div class= "col">
      {{form.resultado1.label}}
      {{form.resultado1}}
    </div>

    <div class= "col">
      {{form.resultado2.label}}
      {{form.resultado2}}
    </div>
    
    <div class= "col ">
      {{form.resultado3.label}}
      {{form.resultado3}}
    </div>

    <div class= "col campoOculto">
      {{form.resultado4.label}}
      {{form.resultado4}}
    </div>

    <div class= "col campoOculto">
      {{form.resultado5.label}}
      {{form.resultado5}}
    </div>

  </div>
<!--Resultados 6 al 10-->
  <div class="row mt-4 mb-4">
    <div class= "col campoOculto">
      {{form.resultado6.label}}
      {{form.resultado6}}
    </div>

    <div class= "col campoOculto">
      {{form.resultado7.label}}
      {{form.resultado7}}
    </div>
    
    <div class= "col campoOculto">
      {{form.resultado8.label}}
      {{form.resultado8}}
    </div>

    <div class= "col campoOculto">
      {{form.resultado9.label}}
      {{form.resultado9}}
    </div>

    <div class= "col campoOculto">
      {{form.resultado10.label}}
      {{form.resultado10}}
    </div>

  </div>

  <div class="row mt-4 mb-4">
    {{form.observacion.label}}
    {{form.observacion}}
  </div>



{%endblock%}



{%block script%} <script src="{%static 'js/ensayos/humedad.js'%}"></script> {%endblock%}