{% extends 'pages/layout.html'%}
{%load static%}

{%block content%}
<div id="content-wrapper" class="d-flex flex-column">
    <div class="container py-5">  
      <div class="row justify-content-center">
          <div class="card mb-4 col-lg-12">
			{%if ensayo.usuario.firmas.firma%}
				<div>
					<p> Ensayo realizado por {{ensayo.usuario.firmas.firma}} </p>
				<div>
					
				{%endif%}
			
            <div class="text-center mt-3">
              <h2 class= "text-dark"> {%block tituloEnsayo%} {%endblock%}</h2>
            </div>
            <div class= "mb-3 d-flex align-items-center justify-content-center">
              <form class= "form col-8 text-center p-0 " method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <div id="titulo-ensayos" class= " mt-3 mb-3 d-flex justify-content-center align-items-center">
                  <h4 class= "text-nowrap mb-0 mr-2"> Condiciones </h4>
                  <div style="width:100%; height:2px; background: #A9B2BB"></div>
                </div> 

				<!--Modal de ensayo guardado-->
				<div class="modal fade" id="ensayosModalGuardado" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog modal-dialog-centered" role="document">
						<div class="modal-content ">
							<div class="modal-header">
							<h5 class="modal-title" id="envioModalLabel">Ensayo Guardado</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
							</div>

							<div class="modal-body">
								<div class="check-icon" style="font-size: 50px; color: #28a745;">&#x2714;</div>
								<p>El ensayo se ha guardado correctamente.</p>
							</div>

							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
							</div>
						</div>
					</div>
				</div>   
				

                {%block condiciones%}
				
                {%endblock%}

                <div id="titulo-ensayos" class= "mt-5 mb-3 d-flex justify-content-center align-items-center">
                  <h4 class= "text-nowrap mb-0 mr-2"> Resultados </h4>
                  <div style="width:100%; height:2px; background: #A9B2BB"></div>
                </div> 
                {%block resultados%}
                {%endblock%}

                <button type= "submit" class= "btn btn-primary mt-3"> Guardar</button>
              </form>
            </div>
          </div>
      </div>
    </div>
</div>

  {%block script%} {%endblock%}
  {% if datosGuardados %}
	<script>
		window.onload = function() {
		console.log("holaaaaaa");
		
		// Asegúrate de que el elemento existe en el DOM
		var modalElement = document.getElementById('ensayosModalGuardado');
		if (modalElement) {
			var envioModal = new bootstrap.Modal(modalElement);
			envioModal.show();
		} else {
			console.log("No se encontró el modal en el DOM");
		}
		}
	</script>
	{% endif %} 

{%endblock%}