{% extends 'ensayos/nuevosEnsayos/layoutEnsayos.html'%}
{%load static%}

{%block tituloEnsayo%} N1 ({{ensayo.normativa}})  {%endblock%}



{%block condiciones%} 

  <div class= "row mt-3 mb-3">
      <div class= "col d-flex flex-column align-items-start">
          {{formN1.muestra.label}}
          {{formN1.muestra}}
      </div>

      <div class= "col-3 d-flex flex-column align-items-start">
		{{formN1.fechaInicio.label}}
		{{formN1.fechaInicio}}
	  </div>
  
	  <div class= "col-3 d-flex flex-column align-items-start">
		  {{formN1.fechaFin.label}}
		  {{formN1.fechaFin}}
	  </div>
  </div>

  <div class= "row mt-3 mb-3">
      <div class= "col text-nowrap">
        {{formN1.temperaturaAmbiente.label}}
        {{formN1.temperaturaAmbiente}}

      </div>
      
      <div class= "col text-nowrap">
        {{formN1.humedad.label}}
        {{formN1.humedad}}
      </div>
  </div>

  <div class= "row">
    <div class= "col text-nowrap">
        {{formN1.tipoPolvo.label}}
        {{formN1.tipoPolvo}}
      </div>
    
      <div class= "col text-nowrap">
        {{formN1.pruebaPreseleccion.label}}
        {{formN1.pruebaPreseleccion}}
      </div>
  </div>

  <div class= "row mt-4 d-flex justify-content-center">
    <div class= "col-8 text-nowrap">
      {{equiposEnsayo}}
    </div>
  </div>	

{%endblock%}

   

{%block resultados%} 
<div class= "row mt-3 mb-3 col m-auto">
    
    {% if formN1.non_field_errors %}
            <div>
                {% for error in formN1.non_field_errors %}
                    <p class= "text-danger">{{ error }}</p>
                {% endfor %}
            </div>
    {% endif %}

      
    <table id= "tabla" class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                {%for form in formN1Resultados.forms.0%}
                    <th class="align-middle">{{form.label}}</th>
                {%endfor%}

            </tr>
        </thead>
        <tbody id="tbody">
            {{ formN1Resultados.management_form }}
            {%for form in formN1Resultados%}
                <tr class="templateRow">
                    <td>{{form.tiempo}}</td>
                    <td>{{form.zonaHumeda}}</td>
                </tr>
            {%endfor%}
        </tbody>
    </table>
    <div class= "col-2 d-flex justify-content-between">
        <button type= "button" id= "añadir-fila" class= "btn btn-info"><p class= "h4 m-0"> + </p></button>
        <button type= "button" id= "borrar-fila" class= "border-0 btn btn-danger"> <p class= "h4 m-0"> - </p></button>
    </div>

    <div class= "col-12 mt-3 mb-3">
        {{formN1.observacion.label}}
        {{formN1.observacion}}
    </div>
    
</div>

{%endblock%}



{%block script%}  
    <script> ensayo= "n1" </script>
    <script src="{%static 'js/ensayos/general.js'%}"></script> 
    <script src="{%static 'js/ensayos/n1.js'%}"></script> 
{%endblock%}