{% extends 'ensayos/nuevosEnsayos/layoutEnsayos.html'%}
{%load static%}

{%block tituloEnsayo%} N2 ({{ensayo.normativa}})  {%endblock%}



{%block condiciones%} 

  <div class= "row mt-3 mb-3">
      <div class= "col d-flex flex-column align-items-start">
          {{formN2.muestra.label}}
          {{formN2.muestra}}
      </div>

      <div class= "col d-flex flex-column align-items-start">
        {{formN2.fecha.label}}
        {{formN2.fecha}}
      </div>
  </div>

  <div class= "row mt-3 mb-3">
      <div class= "col text-nowrap">
        {{formN2.temperaturaAmbiente.label}}
        {{formN2.temperaturaAmbiente}}

      </div>
      
      <div class= "col text-nowrap">
        {{formN2.humedad.label}}
        {{formN2.humedad}}
      </div>
  </div>

  <div class= "row">
    <div class= "col text-nowrap">
        {{formN2.tipoPolvo.label}}
        {{formN2.tipoPolvo}}
      </div>
    
      <div class= "col text-nowrap">
        {{formN2.pruebaPreseleccion.label}}
        {{formN2.pruebaPreseleccion}}
      </div>
</div>

{%endblock%}

   

{%block resultados%} 
<div class= "row mt-3 mb-3 col m-auto">
    
    {% if formN2.non_field_errors %}
            <div>
                {% for error in formN2.non_field_errors %}
                    <p class= "text-danger">{{ error }}</p>
                {% endfor %}
            </div>
    {% endif %}

    <div>
        <p> Si todo es negativo pulsa  <button type= "button" id= "todoNegativo" class= "btn btn-sm btn-secondary"> aqui </button></p>
    </div>

      
    <table id= "tabla" class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                {%for form in formN2Resultados.forms.0%}
                    <th class="align-middle">{{form.label}}</th>
                {%endfor%}

            </tr>
        </thead>
        <tbody id="tbody">
            {{ formN2Resultados.management_form }}
            {%for form in formN2Resultados%}
                <tr class="templateRow">
                    <td>{{form.resultado}}</td>
                </tr>
            {%endfor%}
        </tbody>
    </table>
    

    <div class= "col-12 mt-3 mb-3">
        {{formN2.observacion.label}}
        {{formN2.observacion}}
    </div>
    
</div>

{%endblock%}



{%block script%}  
    <script> ensayo= "n2" </script> 
    <script src="{%static 'js/ensayos/n2.js'%}"></script> 
{%endblock%}