{% extends 'ensayos/nuevosEnsayos/layoutEnsayos.html'%}
{%load static%}

{%block tituloEnsayo%} Pmax ({{ensayo.normativa}})  {%endblock%}



{%block condiciones%} 

  <div class= "row mt-3 mb-3">
      <div class= "col d-flex flex-column align-items-start">
          {{formPmax.muestra.label}}
          {{formPmax.muestra}}
      </div>

      <div class= "col d-flex flex-column align-items-start">
        {{formPmax.fecha.label}}
        {{formPmax.fecha}}
      </div>
  </div>

  <div class= "row mt-3 mb-3">
      <div class= "col text-nowrap">
        {{formPmax.temperaturaAmbiente.label}}
        {{formPmax.temperaturaAmbiente}}

      </div>
      
      <div class= "col text-nowrap">
        {{formPmax.humedad.label}}
        {{formPmax.humedad}}
      </div>

  </div>

    <div class= "row mt-3 mb-3">
        <div class= "col text-nowrap">
        {{formPmax.cerillas.label}}
        {{formPmax.cerillas}}

        </div>
        
        <div class= "col text-nowrap">
        {{formPmax.boquilla.label}}
        {{formPmax.boquilla}}
        </div>

    </div>

{%endblock%}

   

{%block resultados%} 
<div class= "row mt-3 mb-3 col m-auto">
    
    {% if formPmax.non_field_errors %}
            <div>
                {% for error in formPmax.non_field_errors %}
                    <p class= "text-danger">{{ error }}</p>
                {% endfor %}
            </div>
    {% endif %}

      
    <table id= "tabla" class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                {%for form in formPmaxResultados.forms.0%}
                    <th class="align-middle">{{form.label}}</th>
                {%endfor%}

            </tr>
        </thead>
        <tbody id="tbody">
            {{ formPmaxResultados.management_form }}
            {%for form in formPmaxResultados%}
                <tr class="templateRow">
                    <td class="concentracion">{{form.concentracion}}</td>
                    <td>{{form.peso}}</td>
                    <td class= "serie"> {{form.serie}}</td>
                    <td class= "pm">{{form.pm_serie}}</td>
                    <td class= "dpdt">{{form.dpdt_serie}}</td>
                </tr>
            {%endfor%}
        </tbody>
    </table>
    <div class= "col-2 d-flex justify-content-between">
        <button type= "button" id= "añadir-fila" class= "btn btn-info"><p class= "h4 m-0"> + </p></button>
        <button type= "button" id= "borrar-fila" class= "border-0 btn btn-danger"> <p class= "h4 m-0"> - </p></button>
    </div>

    <div class= "row ml-auto mr-auto mt-5 mb-5" >
        <div class= "col text-nowrap">
          {{formPmax.pm_media.label}}
          {{formPmax.pm_media}}
  
        </div>
        
        <div class= "col text-nowrap">
          {{formPmax.dpdt_media.label}}
          {{formPmax.dpdt_media}}
        </div>

        <div class= "col text-nowrap">
            {{formPmax.kmax.label}}
            {{formPmax.kmax}}
          </div>
  
    </div>

    <div class= "col-12 mt-3 mb-3">
        {{formPmax.observacion.label}}
        {{formPmax.observacion}}
    </div>
    
</div>

{%endblock%}



{%block script%}  
    <script> ensayo= "pmax" </script>
    <script src="{%static 'js/ensayos/general.js'%}"></script> 
    <script src="{%static 'js/ensayos/pmax.js'%}"></script> 
{%endblock%}