{% extends 'ensayos/nuevosEnsayos/layoutEnsayos.html'%}
{%load static%}

{%block tituloEnsayo%} REC ({{ensayo.normativa}})  {%endblock%}



{%block condiciones%} 

  <div class= "row mt-3 mb-3">
      <div class= "col d-flex flex-column align-items-start">
          {{formRec.muestra.label}}
          {{formRec.muestra}}
      </div>

      <div class= "col d-flex flex-column align-items-start">
        {{formRec.fecha.label}}
        {{formRec.fecha}}
      </div>
  </div>

  <div class= "row mt-3 mb-3">
      <div class= "col text-nowrap">
        {{formRec.temperaturaAmbiente.label}}
        {{formRec.temperaturaAmbiente}}

      </div>
      
      <div class= "col text-nowrap">
        {{formRec.humedad.label}}
        {{formRec.humedad}}
      </div>

  </div>


{%endblock%}

   

{%block resultados%} 
<div class= "row mt-3 mb-3 col m-auto">
    
    {% if formRec.non_field_errors %}
            <div>
                {% for error in formRec.non_field_errors %}
                    <p class= "text-danger">{{ error }}</p>
                {% endfor %}
            </div>
    {% endif %}

      
    <table id= "tabla" class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                {%for form in formRecResultados.forms.0%}
                    <th class="align-middle">{{form.label}}</th>
                {%endfor%}

            </tr>
        </thead>
        <tbody id="tbody">
            {{ formRecResultados.management_form }}
            {%for form in formRecResultados%}
                <tr class="templateRow">
                    <td> {{form.tension}}</td>
                    <td> {{form.tiempo}}</td>
                    <td>{{form.resultadoPrueba}}</td>
                </tr>
            {%endfor%}
        </tbody>
    </table>
    <div class= "col-2 d-flex justify-content-between">
        <button type= "button" id= "añadir-fila" class= "btn btn-info"><p class= "h4 m-0"> + </p></button>
        <button type= "button" id= "borrar-fila" class= "border-0 btn btn-danger"> <p class= "h4 m-0"> - </p></button>
    </div>

    <div class= "col-12 mt-3 mb-3">
        {{formRec.observacion.label}}
        {{formRec.observacion}}
    </div>
    
</div>

{%endblock%}



{%block script%}  
    <script> ensayo= "rec" </script>
    <script src="{%static 'js/ensayos/general.js'%}"></script> 
    <script src="{%static 'js/ensayos/lie.js'%}"></script> 
{%endblock%}