{% extends 'ensayos/nuevosEnsayos/layoutEnsayos.html'%}
{%load static%}

{%block tituloEnsayo%} REC ({{ensayo.normativa}})  {%endblock%}



{%block condiciones%} 

  <div class= "row mt-3 mb-3">
      <div class= "col d-flex flex-column align-items-start">
          {{formRec.muestra.label}}
          {{formRec.muestra}}
      </div>

      <div class= "col-3 d-flex flex-column align-items-start">
		{{formRec.fechaInicio.label}}
		{{formRec.fechaInicio}}
	  </div>
  
	  <div class= "col-3 d-flex flex-column align-items-start">
		  {{formRec.fechaFin.label}}
		  {{formRec.fechaFin}}
	  </div>
  </div>

  <div class= "row mt-3 mb-3">
      <div class= "col text-nowrap">
        {{formRec.temperaturaAmbiente.label}}
        {{formRec.temperaturaAmbiente}}

      </div>
      
      <div class= "col text-nowrap">
        {{formRec.humedad.label}}
        {{formRec.humedad}}
      </div>

  </div>

  <div class= "row mt-4 d-flex justify-content-center">
    <div class= "col-8 text-nowrap">
      {{equiposEnsayo}}
    </div>
  </div>



{%endblock%}

   

{%block resultados%} 
<div class= "row mt-3 mb-3 col m-auto">
    
    {% if formRec.non_field_errors %}
            <div>
                {% for error in formRec.non_field_errors %}
                    <p class= "text-danger">{{ error }}</p>
                {% endfor %}
            </div>
    {% endif %}

      
    <table id= "tabla" class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                {%for form in formRecResultadosSerie1.forms.0%}
                    <th class="align-middle">{{form.label}}</th>
                {%endfor%}

            </tr>
        </thead>
        <tbody id="tbody">
            {{ formRecResultadosSerie1.management_form }}
            {%for form in formRecResultadosSerie1%}
                <tr class="templateRow">
					<td> {{form.nPrueba}}</td>
                    <td> {{form.tension}}</td>
                    <td> {{form.tiempo}}</td>
                    <td>{{form.resultadoPrueba}}</td>
                </tr>
            {%endfor%}

			{{ formRecResultadosSerie2.management_form }}
            {%for form in formRecResultadosSerie2%}
                <tr class="templateRow">
					<td> {{form.nPrueba}}</td>
                    <td> {{form.tension}}</td>
                    <td> {{form.tiempo}}</td>
                    <td>{{form.resultadoPrueba}}</td>
                </tr>
            {%endfor%}
        </tbody>
    </table>

    <div class= "col-12 mt-3 mb-3">
        {{formRec.observacion.label}}
        {{formRec.observacion}}
    </div>
    
</div>

{%endblock%}



{%block script%}  
    <script> ensayo= "rec" </script>

{%endblock%}