{% extends 'ensayos/nuevosEnsayos/layoutEnsayos.html'%}
{%load static%}

{%block tituloEnsayo%} TMIc ({{ensayo.normativa}})  {%endblock%}



{%block condiciones%} 

  <div class= "row mt-3 mb-3">
      <div class= "col d-flex flex-column align-items-start">
          {{formTmic.muestra.label}}
          {{formTmic.muestra}}
      </div>

      <div class= "col-3 d-flex flex-column align-items-start">
		{{formTmic.fechaInicio.label}}
		{{formTmic.fechaInicio}}
	  </div>
  
	  <div class= "col-3 d-flex flex-column align-items-start">
		  {{formTmic.fechaFin.label}}
		  {{formTmic.fechaFin}}
	  </div>
  </div>

  <div class= "row">
      <div class= "col text-nowrap">
        {{formTmic.temperaturaAmbiente.label}}
        {{formTmic.temperaturaAmbiente}}

      </div>
      
      <div class= "col text-nowrap">
        {{formTmic.humedad.label}}
        {{formTmic.humedad}}
      </div>

      <div class= "col ">
        {{formTmic.tiempoMaxEnsayo.label}}
        {{formTmic.tiempoMaxEnsayo}}
      </div>
  </div>

  <div class= "row mt-4 d-flex justify-content-center">
    <div class= "col-8 text-nowrap">
      {{equiposEnsayo}}
    </div>
  </div>

{%endblock%}

   

{%block resultados%} 
<div class= "row mt-3 mb-3 col m-auto">
    
    {% if formTmic.non_field_errors %}
            <div>
                {% for error in formTmic.non_field_errors %}
                    <p class= "text-danger">{{ error }}</p>
                {% endfor %}
            </div>
    {% endif %}

      
    <table id= "tabla" class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                {%for form in formTmicResultados.forms.0%}
                    <th class="align-middle">{{form.label}}</th>
                {%endfor%}

            </tr>
        </thead>
        <tbody id="tbody">
            {{ formTmicResultados.management_form }}
            {%for form in formTmicResultados%}
                <tr class="templateRow">
                    <td>{{form.tPlato}}</td>
                    <td>{{form.tMax}}</td>
                    <td>{{form.resultadoPrueba}}</td>
                    <td>{{form.tipoIgnicion}}</td>
                    <td>{{form.tiempoPrueba}}</td>
                    <td>{{form.tiempoMax}}</td>
                </tr>
            {%endfor%}
        </tbody>
    </table>
    <div class= "col-2 d-flex justify-content-between">
        <button type= "button" id= "añadir-fila" class= "btn btn-info"><p class= "h4 m-0"> + </p></button>
        <button type= "button" id= "borrar-fila" class= "border-0 btn btn-danger"> <p class= "h4 m-0"> - </p></button>
    </div>

    <div class= "col-12 mt-3 mb-3">
        {{formTmic.observacion.label}}
        {{formTmic.observacion}}
    </div>
    
</div>

{%endblock%}



{%block script%}  
    <script> ensayo= "tmic"</script>
    <script src="{%static 'js/ensayos/general.js'%}"></script> 
{%endblock%}