{% extends 'ensayos/layoutEnsayos.html'%}
{%load static%}

{%block tituloEnsayo%} Humedad {%endblock%}

{%block condiciones%} 

    <div class= "d-flex flex-column align-items-start">
        {{form.muestra.label}}
        {{form.muestra}}
    </div>

    <div class= "d-flex flex-column  align-items-center justify-content-center col-12">
        <div class= "d-flex justify-content-between col-10">
            <div>
                {{form.temperaturaAmbiente.label}}
                {{form.temperaturaAmbiente}}
            </div>
            <div>
                {{form.humedad.label}}
                {{form.humedad}}
            </div>
        </div>

        <div class= "d-flex justify-content-between align-items-center col-10">
            <div>
                {{form.criterio.label}}
                {{form.criterio}}
            </div>

            <div class= "d-flex flex-column" id= "tiempoEnsayo">
                {{form.tiempoEnsayo.label}}
                {{form.tiempoEnsayo}}
            </div>
        </div>
    </div>
{%endblock%}
{%block resultados%} {%endblock%}


{%block script%} <script src="{%static 'js/ensayos/humedad.js'%}"></script> {%endblock%}