{% extends 'pages/layout.html'%}
{%load static%}

{%block content%}
<div id="content-wrapper" class="d-flex flex-column">
    <div class="container py-5">  
      <div class="row justify-content-center">
          <div class="card mb-4 col-lg-12">
            <div class="text-center mt-3">
              <h2> {%block tituloEnsayo%} Nuevo equipo{%endblock%}</h2>
            </div>
              <div class="card-body table-responsive" style="max-height: 80vh;">
                <form class= "d-flex flex-column" method="post">
                    {% csrf_token %}
                    {{form}}

                  <button class="btn btn-primary mt-4" type="submit"> Guardar</button>
                </form>
              </div>
          </div>
      </div>
    </div>
</div>

  {%block script%} {%endblock%}

{%endblock%}