{% extends 'pages/layout.html'%}
{%load static%}

{%block style%} <link rel="stylesheet" href="{% static "css/muestras/estilos.css" %}"> {%endblock%}

{%block content%}

<div id="content-wrapper" class="d-flex flex-column">
    <div class="container py-5">  
      <div class="row justify-content-center">
          <div class="card mb-4 col-lg-12 p-0">
			<div class= "text-center">
				{%if expediente.estado == "5"%}
					<p class="p-2 text-secondary bg-success text-light rounded ">
						{{ expediente.get_estado_display }}
					</p>
				
				{%elif expediente.estado == "4"%}
					<p class="p-2 text-secondary bg-warning text-light rounded">
						{{ expediente.get_estado_display }}
					</p>
				{%elif expediente.estado == "3"%}
					<p class="p-2 text-secondary bg-primary text-light rounded">
						{{ expediente.get_estado_display }}
					</p>
				
				{%elif expediente.estado == "1"%}
					<p class="p-2 text-light bg-secondary text-light rounded">
						{{ expediente.get_estado_display }}
					</p>

				{%endif%}
			</div>
			<div class= "p-4">
				<div class= "d-flex justify-content-between align-items-center">
					<h4 > Las muestras asignadas al expediente {{expediente.expediente}} </h4>
					{%if expediente.estado == "5" %}
						<button type= "button" id="generarZipExpediente" data-toggle= "modal" data-target="#modalMail" class="btn btn-primary p-2"> Enviar mail</button>
					{%endif%}
					<form method="GET" action="{% url 'ensayosMuestras' expediente expediente.empresa.empresa "1" %}">
						<button class= " btn btn-info ml-3 mr-3"type="submit">Añadir muestra</button>
					</form>
					<form  id="eliminarExpediente" method="POST" action="{% url 'eliminarExpediente' expediente.expediente %}" onsubmit="return confirm('¿Seguro que deseas eliminar este expediente?');">
						{%csrf_token%}
						<button type= "submit" class="btn btn-danger p-2" >Eliminar Expediente</button>
					</form>
				</div>

				<div id="muestras" class= " mt-5">
				{%for muestra in muestras%}
					<div class= " d-flex justify-content-between align-items-center">
						<div>
							{%if muestra.tiene_descripcion%}
								<a href= "{%url 'verMuestra' muestra.id %}">
									<p class= "mb-0 fs-5">{{muestra.empresa.abreviatura}} - {{muestra.id_muestra}} </p>
									
								</a>
							{%else%}
								<a >
									<p class= "mb-0 fs-5">{{muestra.empresa.abreviatura}} - {{muestra.id_muestra}} (Sin recibir) </p>
									
								</a>
							{%endif%}
							<p> 
								Ensayos: {% for ensayo in muestra.listaEnsayos.all%} {{ensayo.ensayo}} | {%endfor%}
							</p>
						</div>

						<div class= "d-flex align-items-center justify-content-between">
							
							{%if muestra.estado == "5"%}
								<p class="p-2 text-secondary bg-success text-light rounded mb-0 ">
									{{ muestra.get_estado_display }}
								</p>
							
							{%elif muestra.estado == "4"%}
								<p class="p-2 text-secondary bg-warning text-light rounded mb-0">
									{{ muestra.get_estado_display }}
								</p>
							{%elif muestra.estado == "3"%}
								<p class="p-2 text-secondary bg-primary text-light rounded mb-0">
									{{ muestra.get_estado_display }}
								</p>
							
							{%elif muestra.estado == "1"%}
								<p class="p-2 text-light bg-secondary text-light rounded mb-0">
									{{ muestra.get_estado_display }}
								</p>
			
							{%endif%}			
						</div>
					</div>
				{%endfor%}
				</div>
			</div>
          </div>
          
      </div>

	  <!-- Modal envio mail -->
	  <div class="modal fade" id="modalMail" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
		  <div class="modal-content">
			<div class="modal-header">
			  <h5 class="modal-title" id="exampleModalLabel">¿Quieres enviar un mail con el resumen de los ensayos?</h5>
			  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			  </button>
			</div>
			<div class="modal-body">
			  <p> El mail se enviará a: </p>
			  {%for usuario in usuarios%}
				<p> {{usuario.get_full_name}} a la dirección <p class="emails"> <u> <strong>{{usuario.email}}</strong></u> </p> </p>
			  {%endfor%}
			</div>
			<div class="modal-footer">
			  <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
			  <button type="button" class="btn btn-primary" id= "sendMail" >Enviar</button>
			</div>

		  </div>
		</div>
	  </div>

	  <!--Modal exito envio mail-->
			<div class="modal fade" id="emailEnviado" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered" role="document">
					<div class="modal-content ">
						<div class="modal-header">
						<h5 class="modal-title" id="envioModalLabel">Email enviado</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						</div>

						<div class="modal-body">
							<div class="check-icon" style="font-size: 50px; color: #28a745;">&#x2714;</div>
							<p>El email se ha enviado correctamente.</p>
						</div>

						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
						</div>
					</div>
				</div>
			</div> 

	  <!--Modal fracaso envio mail-->
			<div class="modal fade" id="emailFallido" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered" role="document">
					<div class="modal-content ">
						<div class="modal-header">
						<h5 class="modal-title" id="envioModalLabel"> El mail no se envió</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						</div>

						<div class="modal-body">
							<div class="check-icon" style="font-size: 50px; color: #dc3545;">&#10006;</div>
							<p>Hubo un problema, el email no se ha enviado</p>
						</div>

						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
						</div>
					</div>
				</div>
			</div> 
    </div>
</div>



<script>
  console.log("hola");
  function confirmarEliminacion(){
    console.log("adios");
    if (confirm("¿Está seguro de que desea eliminar esta muestra?")) {
      document.getElementById('eliminarExpediente').submit();
    }
  }
</script>

<script>
	let ensayosMuestras= {{ensayosMuestras_json|safe}}
	let expediente= {{expediente_json|safe}}
	let listaEmails = {{listaEmails|safe}}

</script>

<script src="{%static 'js/expedientes/envioMailExpediente.js'%}"></script> 
<script src="{%static 'js/expedientes/generarZipExpediente.js'%}"></script> 


{%endblock%}