{% extends 'pages/layout.html'%}
{%load static%}

{%block style%} <link rel="stylesheet" href="{% static "css/muestras/estilos.css" %}"> {%endblock%}

{%block content%}

<div id="content-wrapper" class="d-flex flex-column">
    <div class="container py-5">  
      <div class="row justify-content-center">
          <div class="card mb-4 col-lg-12 p-0">
			<div class= "text-center">
				{%if expediente.estado == "5"%}
						<p class="p-2 col-12 text-secondary bg-success text-light ">
							{{ expediente.get_estado_display }}
						</p>
					{%else%}
						{%if expediente.estado == "4"%}
							<p class="p-2 col-12 text-secondary bg-warning text-light ">
								{{ expediente.get_estado_display }}
							</p>
						{%else%}
							<p class="p-2 col-12 text-secondary bg-primary text-light">
								{{ expediente.get_estado_display }}
							</p>
	
						{%endif%}
	
					{%endif%}
			</div>
			<div class= "p-4">
				<div class= "d-flex justify-content-between align-items-center">
				<h2 > Las muestras asignadas al expediente {{expediente.expediente}} </h2>
				{%if expediente.estado == "5" %}
					<button type= "button" id="generarZipExpediente" class="btn btn-primary p-2"> Generar zip </button>
				{%endif%}
				<form  id="eliminarExpediente" method="POST" action="{% url 'eliminarExpediente' expediente.expediente %}">
					{%csrf_token%}
					<button type= "button" class="btn btn-danger p-2" onclick="confirmarEliminacion()">Eliminar Expediente</button>
				</form>
				</div>

				<div id="muestras" class= " mt-5">
				{%for muestra in muestras%}
					<div class= " d-flex justify-content-between align-items-center">
						<div>
							<a href= "{%url 'verMuestra' muestra.id %}">
								<p class= "mb-0 fs-5">{{muestra.empresa.abreviatura}} - {{muestra.id_muestra}} </p>
								
							</a>
							<p> 
								Ensayos: {% for ensayo in muestra.listaEnsayos.all%} {{ensayo.ensayo}} | {%endfor%}
							</p>
						</div>

						<div>
							{%if muestra.estado == "5"%}
								<p class="p-2 text-secondary bg-success text-light rounded ">
									{{ muestra.get_estado_display }}
								</p>
							{%else%}
								{%if muestra.estado == "4"%}
									<p class="p-2 text-secondary bg-warning text-light rounded">
										{{ muestra.get_estado_display }}
									</p>
								{%else%}
									<p class="p-2 text-secondary bg-primary text-light rounded">
										{{ muestra.get_estado_display }}
									</p>
			
								{%endif%}
			
							{%endif%}
						</div>
					</div>
				{%endfor%}
				</div>
			</div>
          </div>
          
      </div>
    </div>
</div>

<script>
  console.log("hola");
  function confirmarEliminacion(){
    console.log("adios");
    if (confirm("¿Está seguro de que desea eliminar esta muestra?")) {
      document.getElementById('eliminarExpediente').submit();
    }
  }
</script>

<script>
	let ensayosMuestras= {{ensayosMuestras_json|safe}}
</script>

<script src="{%static 'js/expedientes/generarZipExpediente.js'%}"></script> 


{%endblock%}