{% extends 'pages/layout.html'%}
{%load static%}

{%block style%} <link rel="stylesheet" href="{% static "css/muestras/estilos.css" %}"> {%endblock%}

{%block content%}
<div id="content-wrapper" class="d-flex flex-column">
    <div class="container py-5">  
      <div class="row justify-content-center">
          <div class="card mb-4 col-lg-12">
            <div id= "filtros" class="mt-2">
              <form method="POST" class="d-flex justify-content-end align-items-center">
                {% csrf_token %}
                <div id= "búsqueda" >
                  <label class= "mb-0 mr-3"> Buscar </label>
                  <input name= "filtro"></input>
                  <button type= "submit" class= "btn" >
                    <img class= "img-fluid" style="width:40px;" src= {%static 'img/expedientes/search.png'%}>
                  </button>
                </div>
              </form>
            </div>
            <div class="card-body table-responsive" style="max-height: 80vh;">
                <table class="table table-striped text-center">
                    <thead>
                      <tr>
                        <th scope="col">Expediente</th>
                        <th scope="col">Empresa</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Fecha</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for expediente in expedientes%}
                      <tr>
                        <th scope="row"><a href="{%url 'revisarExpediente' expediente.id%}">{{expediente.expediente}}</a></th>
                        <td>{{expediente.empresa}}</a></td>
						{% if expediente.estado == "3"%}
							<td><p class= "text-primary fw-bold">{{expediente.get_estado_display }}</p></td>
						{% elif expediente.estado == "4"%}
							<td><p class= "text-warning fw-bold">{{expediente.get_estado_display }}</p></td>
						{% elif expediente.estado == "5"%}
							<td><p class= "text-success fw-bold">{{expediente.get_estado_display }}</p></td>
							{% elif expediente.estado == "1"%}
							<td><p class= "text-secondary fw-bold">{{expediente.get_estado_display }}</p></td>
						{%endif%}
                        <td>{{expediente.fecha}}</td>
						
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
            </div>
          </div>
      </div>
    </div>
</div>

{%endblock%}