{% extends 'pages/layout.html'%}
{%load static%}

{%block content%}
<div id="content-wrapper" class="d-flex flex-column">
    <div class="container py-5">  
      	<div class="row justify-content-center">
          	<div class="card mb-4 col-lg-12">
            	<div class="text-center mt-3">
             		<h2> {%block tituloEnsayo%} Equipo asociado a {{equipoAsociado.codigo}} {%endblock%}</h2>
            	</div>
              	<div class="card-body" style="max-height: 80vh;">
					<form method="POST" class= "col-9 m-auto">
						{% csrf_token %}
						<div class= "d-flex align-items-center justify-content-between">
							<div>
								{{form.codigo.label}}
								{{form.codigo}}
							</div>
							
							<div>
								{{form.equipo.label}}
								{{form.equipo}}
							</div>
						</div>
						<div>
							{{form.descripcion.label}}
							{{form.descripcion}}
						</div>
						<div class= "d-flex align-items-center justify-content-center">
							<button type="submit" class="mt-3 btn btn-info"> Guardar</button>
						</div>
					</form>	
              	</div>
          	</div>
      	</div>
    </div>
</div>

{%block script%} {%endblock%}

{%endblock%}