{% extends 'pages/layout.html'%}
{%load static%}

{%block content%}
<div id="content-wrapper" class="d-flex flex-column">
    <div class="container py-5">  
      <div class="row justify-content-center">
          <div class="card mb-4 col-lg-12">
            <div class="text-center mt-3">
              <h2> {%block tituloEnsayo%} {%endblock%}</h2>
            </div>
            <div>
              <div id= "filtros" class="mt-2 d-flex justify-content-between aling-items-center">
                <form method="POST" class="">
                  {% csrf_token %}
                  <div id= "búsqueda" >
                    <label class= "mb-0 mr-3"> Buscar </label>
                    <input name= "filtro"></input>
                    <button type= "submit" class= "btn" >
                      <img class= "img-fluid" style="width:40px;" src= {%static 'img/expedientes/search.png'%}>
                    </button>
                  </div>
                </form>

                <div class="d-flex align-items-center justify-content-center">
                  <a class="btn btn-primary" href="{% url 'nuevoEquipo' %}">Nuevo equipo</a>
              </div>
              
              </div>
              <div class="card-body table-responsive" style="max-height: 80vh;">
                	<table class="table table-striped">
                		<thead>
							<tr>
							<th scope="col">Código</th>
							<th scope="col">Equipo</th>
							<th scope="col">Controlado</th>
							<th scope="col">Calibrado</th>
							<th scope="col">Caduca</th>
							<th scope="col">Eliminar</th>
							</tr>
                      	</thead>
                      	<tbody class="col-12">
						{% for equipo in equipos%}
							<tr>
								<th class="align-middle" scope="row"><a href= "{% url "editarEquipo" equipo.id %}">{{equipo.codigo}}</a></th>
								<td class="align-middle">{{equipo.equipo }}</td>
								{%if equipo.controlado == True%}
									<td class="align-middle">Si</td>
								{%else%}
									<td class="align-middle">No</td>
								{%endif%}
								
								{%if equipo.fechaCalibracion%}
									<td class="align-middle">{{equipo.fechaCalibracion}}</td>
								{%else%}
									<td class="align-middle">-</td>
								{%endif%}

								{%if equipo.fechaCalibracion%}
									<td class="align-middle">{{equipo.fechaCaducidadCalibracion}}</td>
								{%else%}
									<td class="align-middle">-</td>
								{%endif%}
								
								<td>
									<form method="POST" action="{% url 'eliminarEquipo' equipo.id %}" onsubmit="return confirm('¿Seguro que deseas eliminar este equipo?');">
										{% csrf_token %}
										<button type="submit" style="border: none; background: none;">
											<img style="width: 30px; height: auto;" src="{% static 'img/pages/trash.png' %}">
										</button>
									</form>
								</td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
              </div>
            </div>
          </div>
      </div>
    </div>
</div>

{%block script%} {%endblock%}

{%endblock%}