{% extends 'pages/layout.html'%}
{%load static%}

{%block content%}
<div id="content-wrapper" class="d-flex flex-column">
    <div class="container py-5">  
      <div class="row justify-content-center">
          <div class="card mb-4 col-lg-12">
            <div class="text-center mt-3">
              <h2> Ensayos de Humedad </h2>
            </div>
            <div class= "mb-3 row">
              <form class= "form row" method="POST">
                {%for field in form %}

                  {%if field.name == "tiempoEnsayo"%}
                    <div class= "row" id= "tiempoEnsayo">
                      {{field.label}}
                      {{field}}
                    </div>
                  {%else%}
                    {% if field.name in camposOcultos%}
                      <div class= "row campoOculto">
                        {{field.label}}
                        {{field}}
                      </div>
                    {%else%}
                      <div class= "row">
                        {{field.label}}
                        {{field}}
                      </div>
                    {%endif%}
                  {%endif%}
                {%endfor%}
                
                <button class= "btn btn-primary mt-3"> Guardar</button>
              </form>
            </div>
          </div>
      </div>
    </div>
</div>

<script src="{%static 'js/ensayos/humedad.js'%}"></script>
{%endblock%}