{% extends 'pages/layout.html'%}
{%load static%}

{%block style%} <link rel="stylesheet" href="{% static "css/muestras/estilos.css" %}"> {%endblock%}

{%block content%}


<div id="content-wrapper" class="d-flex flex-column">
    <div class="container py-5">  
      <div class="row">
        <div class="col-lg-10 m-auto">
          <div class="card mb-4">
			<div class= "col-12 p-0">
				{%if muestra.estado == "5"%}
					<p class="p-2 font-weight-bold text-secondary text-center bg-success text-light ">
						{{ muestra.get_estado_display }}
					</p>
				{%else%}
					{%if muestra.estado == "4"%}
						<p class="p-2 font-weight-bold text-secondary text-center bg-warning text-light ">
							{{ muestra.get_estado_display }}
						</p>
					{%else%}
						<p class="p-2 font-weight-bold text-secondary text-center bg-primary text-light ">
							{{ muestra.get_estado_display }}
						</p>

					{%endif%}

				{%endif%}
		    </div>
            <div class="card-body" id="content-verMuestra">  
			
              <div id="identificacion-muestra" class= "row col-12 d-flex align-items-start justify-content-between">             
                <div id="nombre-muestra" class= "col">
                  <h2> {{muestra.empresa.abreviatura}} - {{muestra.id_muestra}}</h2>
				  <a href= "{%url 'cambioId' muestra.id %}"> Cambio id </a>
				  <p class= "mb-1"> Id: {{descripcion.id_fabricante}}</p>
				  <a href= "{%url 'revisarExpediente' expediente.id %}"> Exp: {{expediente.expediente}} </a>
                </div>
                <div id="imagenes" class= "col">
                  {% if descripcion.imagenMuestra != 'null' and descripcion.imagenMuestra.url|length >= 1 %}
                    <a class= "btn btn btn-info" href="{{descripcion.imagenMuestra.url}}" target="_blank"> Imagen muestra </a>
                  {%endif%}
                  {% if descripcion.imagenEnvoltorio != 'null' and descripcion.imagenEnvoltorio.url|length >= 1 %}
                    <a class= "btn btn btn-info" href="{{descripcion.imagenEnvoltorio.url}}" target="_blank"> Imagen envoltorio </a>
                  {%endif%}
                  
                </div>

				<div id="eliminarMuestra" class="col d-flex justify-content-end">
					<form method="POST" action="{% url 'eliminarMuestra' muestra.id%}" onsubmit="return confirm('¿Seguro que deseas eliminar esta muestra?');">
						{%csrf_token%}
						<button class= "ml-3 btn btn-danger"type="submit">Eliminar</button>
					</form>
				</div>

              </div>

              <div id="descripcion-muestra" class= "mt-3 col-12">
                <div id="titulo-descripcion" class= "d-flex justify-content-center align-items-center">
                  <h4 class= "text-nowrap mb-0 mr-2"> Descripción </h4>
                  <div style="width:100%; height:2px; background: #A9B2BB"></div>
                </div>

                <div id="descripcion" class= "row mt-4">
					<p>
						Empresa: {{muestra.empresa.empresa}}
					</p>
                  <p> 
                    La muestra llegó el día <spam class= "text-dark font-weight-bold"> {{descripcion.fecha_recepcion}}</spam>,
                    tiene un peso de <spam class= "text-dark font-weight-bold"> {{descripcion.peso}} kg</spam>, 
                    el aspecto de la muestra es <spam class= "text-dark font-weight-bold"> {{descripcion.aspectoMuestra|lower}} </spam>,
                    el color es <spam class= "text-dark font-weight-bold"> {{descripcion.color|lower}} {{descripcion.brillo|lower}} </spam>,
                    aparentemente <spam class= "text-dark font-weight-bold"> {{descripcion.tamano|lower}} </spam> y 
                    <spam class= "text-dark font-weight-bold"> {{descripcion.homogeneidad|lower}} </spam>.
                  </p>
                  <p>
                    La muestra viene en una <spam class= "text-dark font-weight-bold"> {{descripcion.envolturaExt|lower}} </spam>
                    dentro de <spam class= "text-dark font-weight-bold"> {{descripcion.envolturaInt|lower}} </spam>.
                    Procede de <spam class= "text-dark font-weight-bold"> {{descripcion.procedencia}} </spam> 
                    y el estado del envío es <spam class= "text-dark font-weight-bold"> {{descripcion.estadoEnvio|lower}} </spam>.<br>
                  </p>
                  <p>
                    ¿Trae documentación? <spam class= "text-dark font-weight-bold"> {{descripcion.documentacion}} </spam>,
                    ¿Trae etiqueta? <spam class= "text-dark font-weight-bold"> {{descripcion.documentacion}} </spam>.
                  </p>

                  <p>
                    Observaciones: <spam class= "text-dark font-weight-bold"> {{descripcion.observacion}} </spam>.
                  </p>

                  <p>
                    La muestra se ensaya <spam class= "text-dark font-weight-bold"> {{descripcion.formaEnsayo}} </spam>
                  </p>
                </div>
				<button id="botonDescripcionMuestra" class= "btn btn-info"> Editar</button>

              </div>

              <div id="resultados-ensayos" class="row mt-4 col-12">
                <div id="titulo-ensayos" class= " col-12 d-flex justify-content-center align-items-center">
                  <h4 class= "text-nowrap mb-0 mr-2"> Ensayos </h4>
                  <div style="width:100%; height:2px; background: #A9B2BB"></div>
                </div>
                <div id="resultados" class= "mt-3 col-12 d-flex flex-wrap">
                  {% for resultado in resultados%}
                    <p class= "flex-fill text-center"> 
						{%if resultado.ensayo|lower != 'tratamiento' %}
							{%if resultado.ensayo|lower != 'pmax' and resultado.ensayo|lower != 'explonoexplo' %}
								{%if resultado.resultado|lower != "none" %}
									<a href= {% url resultado.ensayo|lower muestra.id %}>{{resultado.ensayo}}  </a>
									{% if resultado.ensayo|lower == "n1" or resultado.ensayo|lower == "n2" or resultado.ensayo|lower == "n4" or resultado.ensayo|lower == "o1" %}
										{{resultado.get_resultado_display}}
									{%else%}
										{{resultado.resultado}} {{resultado.unidad}}
									{%endif%} 
								{%else%}
								<a class="text-danger">{{resultado.ensayo}} = Sin ensayar </a> 
								{%endif%}
							{%else%} 
								{%if resultado.ensayo|lower == 'explonoexplo'%}
									{%if resultado.pmax|lower != "none" %}
										<a href= {% url resultado.ensayo|lower muestra.id %}>Explo/ No explo = {{resultado.pmax}} {{resultado.unidadPmax}}</a> 
									{%else%}
										<a class="text-danger"> Pmax = Sin ensayar  </a> 
									{%endif%}
								{%else%}
									{%if resultado.pmax|lower != "none" %}
										<a href= {% url resultado.ensayo|lower muestra.id %}>Pmax = {{resultado.pmax}} {{resultado.unidadPmax}} | </a> 
									{%else%}
										<a class="text-danger"> Pmax = Sin ensayar | </a> 
									{%endif%}

									
									{%if resultado.dpdt|lower != "none" %}
										<a href= {% url resultado.ensayo|lower muestra.id %}>dPdT ={{resultado.dpdt}} {{resultado.unidadDpdt}} | </a> 
										
									{%else%}
										<a class="text-danger">dPDt = Sin ensayar | </a> 
									{%endif%}

									{%if resultado.kmax|lower != "none" %}
										<a href= {% url resultado.ensayo|lower muestra.id %}>kmax ={{resultado.kmax}} </a> 
									{%else%}
										<a class="text-danger">kmax= Sin ensayar | </a> 
									{%endif%}
								{%endif%}

							{%endif%}
						{%else%}
							{%if resultado.secado or resultado.molido or resultado.tamizado %}
							<a href= {% url resultado.ensayo|lower muestra.id %}>{{resultado.ensayo}}  </a>
							{%else%}
							<a class="text-danger">{{resultado.ensayo}} = Muestra sin tratar  </a> 
							{%endif%}
						{%endif%}
                    </p>

                  {%endfor%}
                </div>
                <div class= "col-12 mt-4 d-flex justify-content-between">
                  <div>
                    <button id="ensayosMuestrasButton" class= "btn btn-info"> Añadir ensayo </button>

					{%if muestra.estado == "4" %}
							<button id="muestraRevisada" class= "btn btn-success"> Marcar como revisada </button>
					{%endif%}
				  </div>

                  <div >
					<button type="button" class="btn btn-primary" id="generarPdf" data-toggle="modal" data-target="#ensayosModal">
						Generar PDF
					</button>
                    <button type= "button" id="generarZip" class= "btn btn-info" data-toggle= "modal" data-target="#modalMail" > 
						Generar ZIP 
					</button>
                  </div>
                </div>

				<!-- Modal PDF -->
				<div class="modal fade" id="ensayosModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog" role="document">
					  <div class="modal-content">
						<div class="modal-header">
						  <h5 class="modal-title" id="exampleModalLabel">Elige el ensayo</h5>
						  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						  </button>
						</div>
						<div class="modal-body">
						  <form id="checklistForm" method="POST">
							{% csrf_token %}  <!-- Token CSRF para proteger el formulario -->
							
							<!-- Iterar sobre los resultados y generar un checkbox para cada uno -->
							<div>
							  {% for ensayo in ensayos %}
								<label>
								  <input type="radio" name="ensayo" value="{{ ensayo.ensayo }}"> {{ ensayo.ensayo }}
								</label><br>
							  {% endfor %}
							</div>
						  </form>
						</div>
						<div class="modal-footer">
						  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
						  <button type="button" class="btn btn-primary" data-dismiss="modal" id= "saveChangesBtn" >Generar</button>
						</div>
					  </div>
					</div>
				  </div>

				<!--Modal de Archivo generado-->
				<div class="modal fade" id="archivoGuardado" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog modal-dialog-centered" role="document">
						<div class="modal-content ">
							<div class="modal-header">
							<h5 class="modal-title" id="envioModalLabel">Ensayo Guardado</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
							</div>

							<div class="modal-body">
								<div class="check-icon" style="font-size: 50px; color: #28a745;">&#x2714;</div>
								<p>El ensayo se ha guardado correctamente.</p>
							</div>

							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
							</div>
						</div>
					</div>
				</div> 
				
				<!--Modal de Error al generar archivo-->
				<div class="modal fade" id="errorArchivoGuardado" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog modal-dialog-centered" role="document">
						<div class="modal-content ">
							<div class="modal-header">
							<h5 class="modal-title" id="envioModalLabel">El archivo no se ha guardado</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
							</div>

							<div class="modal-body">
								<div class="check-icon" style="font-size: 50px; color: #dc3545;">&#10006;</div>
								<p>Hubo un problema al guardar el ensayo</p>
							</div>

							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
							</div>
						</div>
					</div>
				</div>
              </div>


              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
</div>

<script>
  let muestra= {{muestra_json|safe}}
  let ensayos= {{ensayos_json|safe}} 
</script>

<script src="{%static 'js/muestras/generarPdf.js'%}"></script> 
<script src="{%static 'js/muestras/envioMail.js'%}"></script> 
<script src="{%static 'js/muestras/muestraRevisada.js'%}"></script> 



<script>
  console.log("bien")
  var url_ensayosMuestras= '{{url_ensayosMuestras}}';
  var url_descripcionMuestra= '{{url_descripcionMuestra}}';
  var botonEnsayosMuestras= document.getElementById('ensayosMuestrasButton');
  var botonDescripcionMuestra= document.getElementById('botonDescripcionMuestra');

  botonEnsayosMuestras.onclick= function(){
    window.location.href=url_ensayosMuestras;
  };

  botonDescripcionMuestra.onclick= function(){
	window.location.href=url_descripcionMuestra;
  }
</script>
{%endblock%}